#body{
  background: red;
  font-family: sans-serif;
}
.container{
  position: relative;
  margin: 100 auto;
  width: 20;
  height: auto;
  padding: 10px;
  background: gold;
  border: 1px solid black;
  box-shadow: 4px 4px px black;
}

.topo{
position: relative;
width: 97%;
height: 46px;
padding: 6px;
background: white;
}

.corpo{
margin-top: 10px;
height: 95%;
width:373px;
padding: 9px;
background: gray;
}

.campo{
  width: 100%;
  height: 100%;
  border: none;
  opacity : 0.5;
  font-size: 35px;
  text-align: right;
}